.admin-wrapper {
  display: flex;
}

.sidebar {
  width: 220px;
  height: 100vh;
  background-color: #002b5c;
  color: white;
  position: fixed;
  top: 24px; /* debajo del navbar */
  left: 0;
  bottom: 0;
  padding: 1rem;
  z-index: 1000;
}

.admin-main {
  margin-left: 220px; /* igual al ancho del sidebar */
  padding: 2rem;
  padding-top: 80px; /* espacio para navbar */
  width: 100%;
  height: calc(100vh - 56px);
  overflow-y: auto;
}

.viaje-container {
  max-width: 1100px;
  margin: 0 auto;
  text-align: center;
}

.viaje-container h3 {
  margin-bottom: 2rem;
}

.viaje-container table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: white;
  border-collapse: collapse;
}

.viaje-container th, .viaje-container td {
  padding: 10px;
  border: 1px solid #dee2e6;
}

.viaje-container .pagination-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.viaje-container .pagination-controls button {
  padding: 6px 12px;
  background-color: #0057b7;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.viaje-container .pagination-controls button:disabled {
  background-color: #aaa;
  cursor: not-allowed;
}

.tabla-scroll {
  max-height: 400px; /* o lo que prefieras */
  overflow-y: auto;
  overflow-x: auto;
  margin-top: 1rem;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.fila-seleccionada {
  background-color: #004085 !important; /* un azul oscuro */
  color: white;
  font-weight: bold;
}